accelerate==1.5.2
bitsandbytes==0.42.0
datasets==3.5.0
diffusers==0.32.2
einops==0.8.1
huggingface-hub==0.29.3
matplotlib==3.9.4
numpy==2.0.2
pandas==2.2.3
pillow==11.1.0
safetensors==0.5.3
scipy==1.13.1
tokenizers==0.21.1
torch==2.6.0
tqdm==4.67.1
transformers==4.50.3
wandb==0.19.8
